:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

.body{
    background-color:var(--Grayish-Blue);
    font-family:'Manrope',sans-serif;
    font-size:13px;
}

.main-content{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:13px;
}

.img{
    width:100%;
}

.card{
    width:90%;
    min-width:350px;
    max-width:1440px;
    background-color:var(--Light-Grayish-Blue);
    border-radius:8px;
    overflow:hidden;
}

.card__text,.card__share{
    padding:10px 20px;
}

.card__text{
    font-size:1rem;
}

.title{
    font-weight:700
}

.paragraph,.time{
    font-weight:500;
}

.profile,.card__share,.social-networks,.social-networks--active{
    display:flex;
    align-items: center;
}
.profile__img{
    width:60px;
    height:60px;
    border-radius:50%;
    overflow:hidden;
}

.card__share{
    justify-content: space-between;
    position:relative;
    height:50px;
    transition:background-color .2s ease;
}

.profile__text{
    margin-left:18px;
}

.profile__name{
    margin:0;
    display:block;
}

.btn-share{
    width:30px;
    height:30px;
    background-color:var(--Grayish-Blue);
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:var(--Desaturated-Dark-Blue);
    padding:0;
    margin:0;
    border:0;
    cursor:pointer;
}

.card__share--active{
    background-color:var(--Very-Dark-Grayish-Blue);
}


.social-networks{
    transform: translateX(-200%);
}

.share__text{
    text-transform: uppercase;
    color:var(--Grayish-Blue);
}

.disabled{
    display:none;
}

.social-networks--active{
    transform: translateX(0);
}


.social-networks > svg, .social-networks > span{
    margin:0 10px;
}
